form.pagination_form_general {
    display: inline-grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    padding: 20px;
}