/*------------------ VARIABLES GENERAL ----------------------*/

/*-- GENERAL --*/
$primary_color: #04AA6D;

/*-- TABLE --*/
$color_title_table: white;
$color_zebra_table: #f2f2f2;
$text_align_table: left;

$width_table: 100%;
$padding_table: 8px;
$border_size_table: 1px;
$border_color_table: #ddd;
$font_size_table: 16px;

/*-- FORM --*/
$padding_form: 20px;
$background_color_form: #f2f2f2;